body, html {
  margin: 0;
  font-family: consolas;  
}

.map {
  width: 100vw;
  height: 100vh;
}
.location-icon {
  font-size: 1rem;
  color: red;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}